<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>映画情報編集画面</h2>
        <%= render 'layouts/errors', obj: @movie %>
        <%= form_with model:@movie, local:true do |f| %>

          <div class="form_group">
            <%= f.label :Image %>
            <%= f.attachment_field :movie_image, class: "form-control-file movie_image" %>
          </div>

          <div class="form_group">
            <%= f.label :Title %>
            <%= f.text_field :title, class: "form-control movie_title" %>
          </div>

          <div class="form_group">
            <%= f.label :Impressions %>
            <%= f.text_area :body, class: "form-control movie_body" %>
          </div>

          <div id="evaluate_stars">
            <%= f.label :Evaluation %>
            評価機能
          </div>

          <div class="form_group">
            <%= f.submit class: "btn btn-secondary" %>
          </div>
        <% end %>
        <script>
            // 実行する処理を記述
          $('#evaluate_stars').raty({
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'movie[evaluation]' //登録するモデル名とカラム名を記述
          });
        </script>
      </div>
    </div>
  </div>
</main>