<main>
  <div class="container">
    <div class="row">
      <div class="image_field col-md-7">
        <%= attachment_image_tag(@movie, :movie_image, :fill, 250, 170, fallback: "no_image.jpg") %>
      </div>

      <div class="introduction_field col-md-4">
        <h2><%= @movie.title %></h2>
        <p><%= @movie.body %></p>
        <% if @user.id == current_user.id %>
          <p><%= link_to "Edit", edit_movie_path(@movie), class:"btn btn-success" %></p>
          <p><%= link_to "Destroy", movie_path(@movie), method: :delete, data: {confirm: '本当に消去しますか？'}, class: "btn btn-danger" %></p>
        <% end %>
      </div>
    </div>
    <div class="favorite">
      <% if @movie.favorited_by?(current_user) %>
        <p>
          <%= link_to movie_favorites_path(@movie), method: :delete do %>
            ♥<%= @movie.favorites.count %>イイね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to movie_favorites_path(@movie), method: :post do %>
            ♡<%= @movie.favorites.count %>イイね
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="comment">
      <p>コメント件数<%= @movie.movie_comments.count %></p>
      <% @movie.movie_comments.each do |movie_comment| %>
       <%= movie_comment.user.name %>
       <%= movie_comment.created_at.strftime('%Y/%m/%d') %>
       <%= movie_comment.comment %>
       <% if @user.id == current_user.id %>
         <p><%= link_to "Destroy", movie_movie_comment_path(@movie, movie_comment), method: :delete, data: {confirm: '本当に消去しますか？'}, class: "btn btn-danger" %></p>
       <% end %>
      <% end %>
    </div>
    <div class="new-comment">
    <%= form_with(model:[@movie, @movie_comment], local: true) do |f| %>
      <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
      <%= f.submit "コメントを投稿" %>
    <% end %>
    </div>
  </div>
</main>