<p>コメント件数<%= movie.movie_comments.count %></p>
      <% movie.movie_comments.each do |movie_comment| %>
       <%= movie_comment.user.name %><br>
       <%= movie_comment.created_at.strftime('%Y/%m/%d') %><br>
       <%= movie_comment.comment %><br>


       <% if movie_comment.user == current_user %>
         <p><%= link_to "Destroy", movie_movie_comment_path(movie, movie_comment), method: :delete, remote: true, class: "btn btn-danger" %></p>
       <% end %>
      <% end %>